@{
    ViewData["Title"] = "Главная страница";
}

<h2>@ViewData["Title"]</h2>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Profile", "Account")">Мой профиль</a>
}
else
{
    <p>Пожалуйста, <a href="/login">войдите</a> в систему.</p>
}
